/*  Bis auf Code Blöcke und Bilder soll alles
    zentriert sein und max 600 px breit */
.centered, footer {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
}
#index-header {
    margin-bottom: 25%
}
html, body {
    font-size: 18px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    color: #404040;
    box-sizing: border-box;
}

/* Ŭberschriften */
main > article > header > h2 {
    line-height: 1.2;
    margin-top: 20%;
}
h1, h2, h3, h4 {
    font-family: sans-serif;
    margin-top: 12%;
    font-weight: normal;
    line-height: 1;
}
h2 {
    max-width: 600px;
    margin: auto;
    font-size: 3rem;
    font-weight: lighter;
}
h3 {
    border-bottom: 2px solid #404040;
    font-size: xx-large;
    padding-bottom: 2%;
}
h4 {
    text-align: center;
    padding-top: 5%;
    font-size: x-large;
    font-family: monospace;
    text-transform: uppercase;
}
/* Fehlerfall Logo */
body > header {
    text-align: center;
    margin-bottom: 10%;
}
body > header h1 {
    font-size: 1.2rem;
    margin-bottom: 0;
    text-transform: uppercase;
}
body > header p {
    margin-top: 0;
    font-family: sans-serif;
    font-size: 0.8rem;
}
body > header > a:visited {
    color: #404040;
}

/* Link Deko */
a:link {
    color: #333333;
    text-decoration-color: lightgray;
}
a:visited, a:active {
    color: #798085;
    text-decoration-color: #798085;
}
header > a:link, a:visited {
    text-decoration: none;
}

/* Footer */
article > footer {
    margin-top: 7%;
    text-align: right;
    font-style: italic;
    font-size: 0.9rem;
}
body > footer  {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    font-family: sans-serif;
    font-size: 0.8rem;
}
body > footer > nav > ul {padding-left: 0;}
footer > nav > ul > li {
    display: inline;
    padding: 0 5% ;
}

/* Bilder etc. */
figure {
    margin: 5% 0;
}
figure > img {
    width: 100%;
}
figcaption {
    font-family: sans-serif;
    font-size: small;
    font-style: italic;
}

/* Code Block */
#code-examples {
    background: url("./bilder/tiny_grid.png") repeat;
}
code > p {
    padding: 10px;
    margin-bottom: 0;
    font-size: medium;
    line-height: 1;
    color: #d33682;
    background-color: rgba(255, 255, 255, 0.49);
}
code > textarea {
    box-sizing: border-box;
    padding: 20px 10px;
    display: block;
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    white-space: pre;
    word-wrap: normal;
    resize: none;
    border: none;
    background-color: transparent;
}

/* Tastenkürzel */
kbd {
    background-color: #e7e7e7;
    padding: 1px 3px;
    margin-right: 2px;
    margin-left: 2px;
}